<aside class="w-80 bg-gradient-to-b from-black via-black to-[#014694] text-white flex flex-col h-screen">
  <!-- Header -->
  <div class="p-4 bg-transparent flex items-center justify-center">
    <span class="ml-4 text-xl font-semibold"></span>
  </div>

  <!-- Buttons (Modules) -->
  <nav class="flex-grow p-4">
    <ul>
      <li class="mb-2">
        <a [routerLink]="['/credit-accounts']" class="flex items-center p-2 rounded bg-transparent hover:bg-black hover:bg-opacity-20">
          <ng-icon name="bootstrapCalendarDate" class="mr-2"></ng-icon>
          <span>Cuentas de Crédito</span>
        </a>
      </li>
      <li class="mb-2">
        <a [routerLink]="['/customers']" class="flex items-center p-2 rounded bg-transparent hover:bg-black hover:bg-opacity-20">
          <ng-icon name="bootstrapCalendarDate" class="mr-2"></ng-icon>
          <span>Clientes</span>
        </a>
      </li>
      <li class="mb-2">
        <a [routerLink]="['/products']" class="flex items-center p-2 rounded bg-transparent hover:bg-black hover:bg-opacity-20">
          <ng-icon name="bootstrapCalendarDate" class="mr-2"></ng-icon>
          <span>Productos</span>
        </a>
      </li>
      <li class="mb-2">
        <a [routerLink]="['/inventory']" class="flex items-center p-2 rounded bg-transparent hover:bg-black hover:bg-opacity-20">
          <ng-icon name="bootstrapCalendarDate" class="mr-2"></ng-icon>
          <span>Inventario</span>
        </a>
      </li>
      <li class="mb-2">
        <a [routerLink]="['/orders']" class="flex items-center p-2 rounded bg-transparent hover:bg-black hover:bg-opacity-20">
          <ng-icon name="bootstrapCalendarDate" class="mr-2"></ng-icon>
          <span>Ordenes</span>
        </a>
      </li>
      <li class="mb-2">
        <a [routerLink]="['/inventory']" class="flex items-center p-2 rounded bg-transparent hover:bg-black hover:bg-opacity-20">
          <ng-icon name="bootstrapCalendarDate" class="mr-2"></ng-icon>
          <span>Ventas</span>
        </a>
      </li>
    </ul>
  </nav>
  <!-- Footer -->
  <footer class="p-4 bg-transparent flex items-center justify-center mt-auto">
    <img src="assets/logo/AtlasSeguridadLogo.png" alt="Logo Company" class="w-26 h-16">
  </footer>
</aside>
