<div class="flex flex-col p-16 h-full">
  <!-- Header Section -->
  <div class="flex flex-col md:flex-row justify-between items-start md:items-center mb-12">
    <h1 class="text-4xl text-gray-700 font-bold mb-4 md:mb-0">
      Bienvenido a MiniProyecto - 2
    </h1>
    <button class="bg-gradient-to-r from-black via-black to-[#014694] text-white py-2 px-8 rounded-full hover:from-[#014694] hover:via-black hover:to-black transition duration-300 md:ml-auto">
      <a [routerLink]="['/appointments']">Ver Ordenes</a>
    </button>
  </div>

  <!-- Divider Line -->
  <hr class="border-t-2 border-gray-400 mb-8">

  <!-- Indicadores Section -->
  <div class="bg-gray-100 p-6 rounded-lg">
    <h2 class="text-lg bg-gradient-to-r from-black via-black to-[#014694] text-white py-2 px-4 rounded-full inline-block mb-4">
      Indicadores generales
    </h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
      <!-- Indicador de Total Ordenes -->
      <div class="bg-white shadow-lg rounded-lg p-6">
        <h3 class="text-xl font-extrabold text-gray-600">Total Ordenes</h3>
        <div class="text-6xl text-blue-600 mt-4">{{ todayAppointments }}</div>
        <p class="text-gray-500">Total</p>
      </div>

      <!-- Indicador de Ordenes Completadas -->
      <div class="bg-white shadow-lg rounded-lg p-6">
        <h3 class="text-xl font-extrabold text-gray-600">Ordenes completadas</h3>
        <div class="text-6xl text-red-600 mt-4">{{ todayActiveAppointments }}</div>
        <p class="text-gray-500">Total</p>
      </div>

      <!-- Indicador de Ordenes -->
      <div class="bg-white shadow-lg rounded-lg p-6">
        <h3 class="text-xl font-extrabold text-gray-600">Ordenes sin completar</h3>
        <div class="text-6xl text-orange-500 mt-4">{{ totalAppointments }}</div>
        <p class="text-gray-500">Total</p>
      </div>
    </div>
  </div>
</div>
